@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(
    245.59deg,
    #4d9559 0%,
    #38703d 28.53%,
    #133917 75.52%
  );
  font-family: "Poppins", sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 9%;
  z-index: 1000;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.navbar img {
  width: 80px;
}
.menu-navigation {
  display: flex;
}
.menu-navigation a {
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  color: white;
  margin-left: 23px;
}
.menu-navigation a:hover {
  color: #ff9130;
  cursor: pointer;
}
.menu-navigation a::after {
  content: "";
  padding: 0 16px;
  display: block;
  border-bottom: 1px solid #ff9130;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.menu-navigation a:hover::after {
  transform: scaleX(0.5);
}
.header-right i {
  margin-right: 20px;
}
#btn-menu {
  font-size: 20px;
  color: white;
  display: none;
  z-index: 1001;
}
#btn-search {
  font-size: 20px;
  color: white;
  /* display: none; */
  z-index: 1001;
}
#btn-menu,
#btn-search:hover {
  transition: all 0.3s ease-in-out;
  color: #ff9130;
  cursor: pointer;
}
.navbar.sticky {
  background: linear-gradient(
    245.59deg,
    #4d9559 0%,
    #38703d 28.53%,
    #133917 75.52%
  );
  padding: 15px 9%;
}
.navbar.sticky .menu-navigation a:hover {
  color: #ff9130;
}
.navbar.sticky .menu-navigation a::after {
  content: "";
  padding: 0 16px;
  display: block;
  border-bottom: 1px solid #fff;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.navbar.sticky .menu-navigation a:hover::after {
  transform: scaleX(0.5);
}
.hero {
  padding: 200px 12%;
}
.hero-text {
  position: relative;
  width: 100%;
  justify-content: center;
}
.hero video {
  position: absolute;
  z-index: 000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  object-position: center;
}
/* @media (min-aspect-ratio: 16/9) {
  .hero .video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .hero .video {
    width: auto;
    height: 100%;
  }
} */
.hero-text h4 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
}
.hero-text h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
}
.hero-text p {
  max-width: 700px;
  padding: 20px;
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: #363636;
}
.hero-text .btn-download {
  display: inline-block;
  margin-top: 15px;
  background-color: #ff9130;
  color: white;
  padding: 10px 20px;
  transition: 0.5s ease;
}
.hero-text .btn-download:hover {
  background-color: transparent;
  border: 2px solid white;
}
.hero-text .btn-download i {
  vertical-align: middle;
  margin-left: 5px;
}
.sosial-media {
  position: absolute;
  top: 50%;
  padding: 0 8%;
  transform: translateY(-50%);
}
.sosial-media i {
  margin-top: 25px;
  display: block;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease;
}
.sosial-media i:hover {
  color: #ff9130;
  transform: translateY(-5px);
}
section {
  padding: 140px 12% 20px;
}
.about .title h3 {
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.about .about-content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}
.about .about-img {
  padding: 0 10px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.about .about-img img {
  margin-top: 32px;
  width: 80%;
  height: auto;
}
.about .about-text h4 {
  font-family: "Permanent Marker", cursive;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 2px;
}
.about .about-text p {
  margin-top: 16px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
.powers .title h3 {
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.powers-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 13px;
}
.powers-content .powers-box {
  cursor: pointer;
  position: relative;
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: #133917;
  transition: all 1s ease 0s;
}
.powers-content .powers-box:hover {
  box-shadow: #133917;
  transform: translateY(-5px);
}
.powers-content .powers-box {
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: #133917;
}
.powers-content .powers-box p {
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}
.appearance-content {
  cursor: pointer;
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: #133917;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 1s ease 0s;
}
.appearance-content:hover {
  box-shadow: #133917;
  transform: translateY(-5px);
}
.appearance-content h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}
.appearance-content p {
  margin-top: 14px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
.functionality {
  margin-bottom: 40px;
}
.functionality .title {
  margin-bottom: 16px;
}
.functionality .title h3 {
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.functionality .title p {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.functionality-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 13px;
}
.functionality-circle {
  text-align: center;
  border-radius: 5px;
  background-color: #4d9559;
  transition: all 1s ease 0s;
}
.functionality-circle:hover {
  cursor: pointer;
  box-shadow: #133917;
  transform: translateY(-5px);
}
.functionality-circle img {
  width: 100px;
}
.functionality-circle h4 {
  margin: 10px 10px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  /* vertical-align: middle; */
}
.footer {
  background-color: #4d9559;
}
.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 13px;
}
.list-footer h4 {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
}
.list-footer h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  left: 0;
  top: 30px;
  bottom: -10px;
  background: #ff9130;
}
.list-footer p {
  margin: 13px 0;
  color: #fff;
  font-size: 16px;
}
.list-footer li {
  font-size: 16px;
  margin-top: 14px;
  color: #fff;
  transition: 0.3s ease;
}
.list-footer li:hover {
  cursor: pointer;
  transform: translate(14px);
}
.sosmed-ikon {
  position: relative;
}
.sosmed-ikon li {
  display: grid;
  grid-template-columns: 25px 1fr;
  margin-bottom: 16px;
}
.sosmed-ikon i {
  font-size: 20px;
}
.sosmed-ikon li a {
  font-size: 16px;
  color: #fff;
}
.copyright {
  color: #fff;
  width: 100%;
  padding: 15px 100px 15px;
  background: #4d9559;
  text-align: center;
  border: 1px solid #38703d;
}

/* responsive  */
@media (max-width: 1024px) {
  section {
    padding: 130px 12% 20px;
  }
  .sosial-media {
    top: 26%;
    padding: 0 6%;
  }
  .about .about-img {
    padding: 40px 0;
  }
}
@media (max-width: 912px) {
  .menu-navigation a {
    font-size: 15px;
    transition: 0.2s ease;
  }
  .about .about-img {
    padding: 60px 0;
  }
  .about .about-text h4 {
    font-size: 26px;
  }
  .footer-content {
    transition: 0.5s ease-in-out;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .copyright {
    color: #fff;
    width: 100%;
    padding: 15px 4px 15px;
  }
}
@media (max-width: 884px) {
  .hero video {
    min-height: 60vh;
  }
}
@media (max-width: 768px) {
  #btn-menu {
    display: inline-block;
    color: white;
    transition: 0.7s ease-in;
  }
  .sticky #btn-menu {
    color: white;
  }
  .hero {
    height: 88vh;
  }
  .hero video {
    min-height: 100vh;
  }
  .menu-navigation {
    padding: 20px;
    display: flex;
    flex-direction: column;
    top: -10%;
    right: -100%;
    width: 300px;
    position: absolute;
    height: 50vh;
    transition: 0.3s;
    background: linear-gradient(
      245.59deg,
      #4d9559 0%,
      #38703d 28.53%,
      #133917 75.52%
    );
    align-items: center;
  }
  .menu-navigation.active {
    right: 0;
  }
  .menu-navigation a {
    align-items: center;
    margin-top: 30px;
    font-size: 17px;
  }
  .navbar.sticky .menu-navigation a:hover {
    color: #ff9130;
  }
  .navbar.sticky .menu-navigation a:hover::after {
    transform: scaleX(0.5);
  }
  .sosial-media {
    top: 40%;
    padding: 0 6%;
  }
  .about .about-text h4 {
    font-size: 22px;
  }
  .footer-content {
    transition: 0.5s ease-in-out;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  @media (max-width: 576px) {
    section {
      padding: 130px 12% 20px;
    }
    .hero {
      padding: 100px 12%;
    }
    .hero video {
      min-height: 100vh;
    }
    .sosial-media {
      display: none;
    }
    .hero-text h2 {
      font-size: 25px;
    }
    .about .title h3 {
      font-size: 20px;
    }
    .powers .title h3 {
      font-size: 20px;
    }
    .appearance-content .title h3 {
      font-size: 20px;
    }
    .functionality .title h3 {
      font-size: 20px;
    }
    .about .about-text h4 {
      font-size: 20px;
    }
  }
}
